<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzl.next.document.mapper.DocProjectMapper">
    <resultMap id="BaseResultMap" type="com.gzl.next.document.pojo.entity.DocProject">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP"/>
        <result column="updated_on" property="updatedOn" jdbcType="TIMESTAMP"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="created_by" property="createdBy" jdbcType="BIGINT"/>
        <result column="updated_by" property="updatedBy" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, created_on, updated_on, project_name, description, created_by, updated_by
    </sql>

    <select id="getProjectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM doc_project
        <where>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="projectName != null and projectName != ''">
                AND project_name LIKE CONCAT(CONCAT('%', #{projectName}), '%')
            </if>
            <if test="description != null and description != ''">
                AND description  LIKE CONCAT(CONCAT('%', #{description}), '%')
            </if>
        </where>
    </select>

    <insert id="createProject">
        INSERT INTO doc_project (
        created_on, updated_on, project_name, description, created_by, updated_by
        )
        VALUE (
        NOW(), NOW(), #{projectName}, #{description}, #{createdBy}, #{updatedBy}
        )
    </insert>

    <select id="getProjectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM doc_project
        WHERE
        id = #{id}
    </select>

    <update id="updateProjectById">
        UPDATE doc_project
        <set>
            <if test="projectName != null and projectName != ''">
                project_name = #{projectName},
            </if>
            <if test="description!= null and description != ''">
                description = #{description},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>