<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzl.next.document.mapper.AccountPermissionMapper">
    <resultMap id="BaseResultMap" type="com.gzl.next.document.pojo.entity.AccountPermission">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP"/>
        <result column="updated_on" property="updatedOn" jdbcType="TIMESTAMP"/>
        <result column="permission_name" property="permissionName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, created_on, updated_on, permission_name, description
    </sql>

    <select id="getAvailablePermission" resultMap="BaseResultMap">
        SELECT
	*
FROM
	account_permission
WHERE
	id IN (
SELECT
	permission_id
FROM
	( ( SELECT permission_id FROM account_role_permission WHERE role_id IN
	 <foreach collection="roleIds" item="roleId" separator="," open="(" close=")">
         #{roleId}
     </foreach>
	 ) UNION ( SELECT permission_id FROM account_user_permission WHERE user_id = #{userId} ) ) permissions_table
WHERE
	permission_id NOT IN ( SELECT permission_id FROM account_permission_forbidden WHERE user_id = #{userId} )
	)
    </select>
</mapper>