<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzl.next.document.mapper.AccountRolePermissionMapper">
    <resultMap id="BaseResultMap" type="com.gzl.next.document.pojo.entity.AccountRolePermission">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="created_on" property="createdOn" jdbcType="TIMESTAMP"/>
        <result column="updated_on" property="updatedOn" jdbcType="TIMESTAMP"/>
        <result column="role_id" property="roleId" jdbcType="BIGINT"/>
        <result column="permission_id" property="permissionId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, created_on, updated_on, role_id, permission_id
    </sql>

    <insert id="insertBatchRolePermission">
        INSERT INTO account_role_permission
        (created_on, updated_on, role_id, permission_id)
        VALUES
        <foreach collection="rolePermissions" item="rolePermission" separator=",">
            (NOW(), NOW(), #{rolePermission.roleId}, #{rolePermission.permissionId})
        </foreach>
    </insert>
</mapper>